.content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.left-side {
  padding: 15px 0;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.center {
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.right-side {
  font-size: large;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side-nav {
  font-size: large;
  padding: 10px 0;
}

.btn1 {
  border: 1px solid;
  text-decoration: none;
  border-radius: 100vh;
  margin: 0 5px;
  padding: 10px 10px;
  background-color: gold;
}

.btn1:hover {
  background-color:aqua;
}