.content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.left-side {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.btn1:hover {
  padding: 5px 0;
  color: white;
  background-color: black;
}

.center {
  border: 1px solid;
}

.right-side {
  font-size: large;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}