/* .logo1 {
  border: 1px solid;
} */

.logo2 {
  /* border: 1px solid; */
  padding:40px;
}

.logo3 {
  /* border: 1px solid; */
  /* padding: 1px; */
  width:410px;
}

.number-contents{
  display :flex;
  justify-content: space-around;
}

.number-content{
  border: 1px solid;
  width: 22%;
}
.number-content-text{
  text-align: center;
}

.nav-lists{
  margin:0 25px;
  /* position: fixed; */
}

.nav-list{
  border: 1px solid;
  font-size: 30px;
  padding:3px;
  text-decoration: none;
}

.nav-list:hover {
  background-color: aqua;
}

.number-content-image{
  display: flex;
  overflow-x: auto;
  /* white-space: nowrap; */
  /* -webkit-overflow-scrolling: touch; */
}