.logo {
  width: 20vw;
}

.number-contents{
  display :flex;
  justify-content: space-around;
}

.number-content{
  border: 1px solid;
  width: 20vw;
}

.number-content-text{
  text-align: center;
}

.nav-lists{
  text-align: center;
  margin: 0;
  /* width: 20vw; */
  /* position: fixed; */
}

.nav-list{
  border: 1px solid;
  font-size: 25px;
  padding:2px;
  text-decoration: none;
}

.nav-list:hover {
  background-color: aqua;
}

.number-content-image{
  display: flex;
  overflow-x: auto;
  /* white-space: nowrap; */
  /* -webkit-overflow-scrolling: touch; */
}