<div class="form">
  <div><%= form.file_field :image, placeholder: "Image Url", class:"image-form" %></div>
  <div id="image-list"></div>
  <div><%= form.text_area :text, placeholder: "text", class:"text-area" %></div>
  <div class="submit-btn"><%= form.submit "SEND" , data: {confirm: "内容に間違いはございませんか？"}%></div>
</div>