<div><%= form.file_field :image, placeholder: "Image Url" %></div>
<div id="image-list"></div>
<div><%= form.text_area :text, placeholder: "text", rows: "10" %></div>
<div><%= form.submit "SEND" %></div>