<div class="contents">
  <div class="scroll">
    <span><h2>画像ファイルまたは説明文を変更し[SEND]をクリックすると、詳細ページへ飛びます</h2></span>
  </div>
  <%= form_with(model: @tweet, local: true) do |form| %>
    <%= render partial: "form", locals: { form: form } %>
  <% end %>
</div>