<div class="contents">
  <div class="scroll">
    <span><h2>投稿内容編集ページ</h2></span>
  </div>
  <%= form_with(model: @tweet, local: true) do |form| %>
    <%= render partial: "form", locals: { form: form } %>
  <% end %>
</div>