body {
  margin: 0;
  padding: 0;
}

header {
  background-color: gainsboro;
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  background-color: gainsboro;
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  border: 1px solid;
  text-decoration: none;
  border-radius: 100vh;
  margin: 0 5px;
  padding: 10px 10px;
  background-color: gold;
}

.post:hover {
  background-color: aqua;
}